#main_title_and_clip
  %div
    %canvas#bull_clip_main{:width => "70", :height => "68"}
  %div
    %canvas#main_title{:width => "250", :height => "68"}

#signup
  %h1 The Email is in the Tubes!
  %p As you know the internet is a series of tubes.
  %p We've dropped an email to you into one of those tubes and we are all hoping really really hard that it gets to you safely.
  %p Until then, why not sit down and have a nice cup of tea. You've deserved it!
  %p - The Bill Team.

:javascript
  function doOnLoadThings() {
    draw_title('#{@title.upcase}'); 
    load_bull_clip_title();
    $('#signup [title]').tipsy({gravity: 'w', trigger: 'focus'});
  }

