
$blue-color: #0099cc;
$radius: 10px;
$minor-radius: 5px;
$side-panel-left: 30px;
$side-panel-width: 180px;
$top-panel-width: 30%;

@import "rotate_text";
@import "rounded";
@import "shadow";
@import "gradient";
@import "constants";

#signup {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-color: white;
  padding: 3%;
  @include rounded(topleft, top-left, $radius);
  @include rounded(topright, top-right, $radius);
  @include rounded(bottomleft, bottom-left, $radius);
  @include rounded(bottomright, bottom-right, $radius);


  .password{
    display: none;
  }

  div.label {
    display: none;
    text-align: center;
    width: 75%;
    padding: 2px 2px 2px 2px;
    @include shadow2(0px, 0px, 1px, #000000);
    border: medium none;

    label {
      color: black;
    }
  }
}

#main_title_and_clip {
  width: 300px;
  text-align: right;
  position: absolute;
  top: -90px;
  left: 30%;

   #bull_clip_main {
     z-index: 10;
     position: relative;
     top: 40px;
   }
}

input {
  padding: 8px 2px 8px 2px;
  line-height: 1;
  font-size: 18px;
  width: 75%;
  @include lineargradient(#F1F1F1, #E1E1E1);
  @include shadow2(0px, 0px, 2px, #000000);
  border: none;
  margin-bottom: 10px;
}


