%tr{:id => del_friend.id}
  %td
    %del
      = del_friend.name
  %td
    %del
      = number_to_currency(del_friend.credit - friend.debt)
  %td
    %del
      = del_friend.email_address.present? ? "Yes" : "No"
  %td
    %del
      Edit
      = image_tag("subtract-icon.png", :border => 0, :alt => "Delete", :title => "Delete"

