%div#friend
  %h1 Friends
  %table
    %tr
      %th Name
      %th Amount
      %th Email
      %th Controls
    = render :partial => "friend", :collection => @friends
  - if @friends.blank?
    %p
      Awwww, you have no friends!
  = link_to "Create a friend.", new_friend_path
