!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      So I owe you some moolah
    %p
      #{h @user.first_name}
      You have successfully signed up to example.com, and your username is: #{@user.login}.
      %br/
      To login to the site, just follow this link: #{h @url}.
    %p Thanks for joining and have a great day!
= users_url(:host => "example.com")
