!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      So you owe me moolah($#{@step.amount})
    %p
      if you've paid me, head to MyMateBill and hit paid. 
    %p
      = link_to 'its paid', transaction_magic_hash_path(:unique_magic_hash => @step.unique_magic_hash)
