%p
  = text_field_tag 'amount', event.amount, :size => 3, :disabled => true
  = text_field_tag 'actor[name]', event.actor.name, :disabled => true
  = text_field_tag "description", event.description, :disabled => true 
  = text_field_tag "occured_on", event.occured_on, :disabled => true 



