%h2 Forgot Password
- form_tag url_for(:action => 'create') do
    %p What is the email address used to create your account?
    = text_field_tag :email, "", :size => 50
    %br
    = submit_tag 'Reset Password'

