#major_title><
  %div{:class => "blue"}<>
    my
  %div{:class => "white"}<>
    mate
  %div{:class => "blue"}<
    bill
#minor_title
  The doorman to your finances

= render :partial => "headers/notes"
