%div#line_items_button
  %a{:onClick => "javascript:return false", :href =>""}Add transaction details
%div#line_items_container
  %h2 Line Items
  %div#line_items
    %p
      Amount
      = text_field_tag "line_items[0][amount]"
      Friend
      = text_field_tag "line_items[0][friend]", nil, {:class => "transaction_line_items_friend"}
      paid on
      = text_field_tag "line_items[0][due]", nil, {:class => "transaction_line_items_paid_on"}
  %div.add_line_item
    Add Another
