- @transaction ||= state
= @transaction.state.to_s.titleize
- @transaction.user_events.each do |event|
  = button_to_remote(event.to_s.titleize, :confirm => confirm_message, :url => {:controller => :transactions, :action => 'change_state', :id => @transaction, :event => event})
