%div#transaction_list_container
  %h1 Transactions
  .filler
    %table{:cellpadding => "0", :cellspacing => "0", :id => "table_of_transactions"}
      %tr
        %th Created On
        %th Transaction
        %th Description
        %th Amount
        %th Due
        %th Status
        %th
      = render :partial => 'transaction', :collection => @transactions
  #yelly_main
    = image_tag("yelly/half.gif")
